<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Result</title>
</head>
<body>
    <h2>Manage Result</h2>
    <table border="" style="text-align: center">
        <tr>
            <th>Name</th>
            <th>Roll No</th>
            <th>Standard</th>
            <th>Division</th>
            <th>Subject 1</th>
            <th>Subject 2</th>
            <th>Subject 3</th>
            <th>Subject 4</th>
            <th>Subject 5</th>
            <th>Total</th>
            <th>Percentage</th>
            <th>Max</th>
            <th>Min</th>
            <th>Result</th>
            <th>Grade</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        <% result.forEach(function(result){%>
        <tr>
            <td><%=result.name%></td>
            <td><%=result.roll%></td>
            <td><%=result.stnd%></td>
            <td><%=result.sdiv%></td>
            <td><%=result.s1%></td>
            <td><%=result.s2%></td>
            <td><%=result.s3%></td>
            <td><%=result.s4%></td>
            <td><%=result.s5%></td>
            <td><%=result.total%></td>
            <td><%=result.per%></td>
            <td><%=result.max%></td>
            <td><%=result.min%></td>
            <td><%=result.res%></td>
            <td><%=result.grade%></td>
            <td><a href="/DeleteResult/<%=result.id%>">Delete</a></td>
            <td><a href="/UpdateResult/<%=result.id%>">Update</a></td>
        </tr>
        <%})%>
    </table>
</body>
</html>